.insurance_guide_main {
  position: relative;
  z-index: 1;
}
.insurance_guide_wrap {
  max-width: 1200px;
  display: flex;
  margin: auto;
}
.insurance_guide_side_menu {
  width: 219px;
  padding-top: 50px;
  border-right: 1px solid #cbcbcb;
}
.insurance_guide_side_menu h2 {
  font-size: 30px;
  border-bottom: 1px solid #cbcbcb;
  padding: 20px 20px 20px 10px;
}
.insurance_guide_side_menu ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 20px 15px 10px;
  border-bottom: 1px solid #cbcbcb;
}
.insurance_guide {
  background: #3586cf;
  color: #fff;
}
.care:hover,
.specialty:hover {
  text-decoration: underline;
}
/*--*/
.insurance_total {
  width: 900px;
  padding-left: 80px;
  margin-top: 50px;
}
.insurance_guide_title {
  margin-bottom: 30px;
}
.insurance_guide_title h3 {
  font-size: 30px;
  margin-top: 20px;
}
/*--*/
.insurance_1,
.insurance_2,
.insurance_3,
.insurance_4 {
  margin-bottom: 30px;
}
.insurance_1 h3,
.insurance_2 h3,
.insurance_3 h3,
.insurance_4 h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.insurance_1 p,
.insurance_2 p,
.insurance_3 p,
.insurance_4 p {
  font-size: 13px;
  line-height: 20px;
}
.insurance_1 p span,
.insurance_2 p span,
.insurance_3 p span,
.insurance_4 p span {
  margin-left: 15px;
}
/*--*/
.manager {
  display: flex;
  border: 1px solid #cbcbcb;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  margin-bottom: 100px;
}
.manager img {
  margin-right: 10px;
}
