.care_main {
  position: relative;
  z-index: 1;
}
.care_wrap {
  max-width: 1200px;
  display: flex;
  margin: auto;
}
.care_side_menu {
  width: 219px;
  padding-top: 50px;
  border-right: 1px solid #cbcbcb;
}
.care_side_menu h2 {
  font-size: 30px;
  border-bottom: 1px solid #cbcbcb;
  padding: 20px 20px 20px 10px;
}
.care_side_menu ul li {
  font-size: 18px;
  padding: 15px 20px 15px 10px;
  border-bottom: 1px solid #cbcbcb;
}
.care {
  background: #3586cf;
  color: #fff;
}
.specialty:hover,
.insurance_guide:hover {
  text-decoration: underline;
}
.care_tap_menu li {
  text-decoration: none;
}
/*--*/
.care_total {
  width: 900px;
  padding-left: 80px;
  margin-top: 50px;
}
.care_title {
  margin-bottom: 30px;
}
.care_title h3 {
  font-size: 30px;
  margin: 20px 0 10px;
}
.care_title p {
  font-size: 13px;
}
/*--*/
.care_guide {
  margin-bottom: 30px;
}
/*--*/
.care_icon ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
/* .care_icon ul li a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.care_icon ul li a img {
  width: 137px;
}
.care_icon ul li a img:hover {
  border: 3px solid #3586cf;
  width: 130px;
}
.care_icon ul li a span {
  position: absolute;
  display: block;
  bottom: 5px;
} */
.family_care {
  width: 130px;
  height: 145px;
  background: url(../images/clinic_pg01_img1.gif)no-repeat 0px 0px/130px 145px;
  /* padding: 120px 30px;
  box-sizing: border-box; */
  position: relative;
}
.family_care a {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
.family_care:hover {
  border: 2px solid navy;
}
