/* 탑배너 */
.top_banner_wrap{
    background: linear-gradient(to right, #93bcda 30%, #d5e6ed 70%);
}
.top_banner {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
}
.top_banner img {
    width: 100%;
}
.top_banner_btn span {
    width: 1px;
    height: 12px;
    display: block;
    background: #aaa;
}
.top_banner_btn {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

/* 헤더 */
header {
    display: block;
    height: 100px;
    position: relative;
    z-index: 3;
    background: #f5f0f3;
}
header:hover {
    background: #fff;
}
header:hover .nav_bg {
    display: block;
}
header:hover .two_depth {
    display: block;
}
.header_wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.logo img {
    width: 270px;
    margin-top: 40px;
}
.nav_bg {
    width: 100%;
    height: 285px;
    position: absolute;
    left: 0;
    top: 100px;
    background: #eee;

    display: none;
}

/* GNB */
.gnb {
    max-width: 900px;
    margin: 0 auto;
}
.gnb > ul {
    display: flex;
    justify-content: flex-end;
    gap: 95px;
}
.gnb > ul > li > a {
    font-size: 20px;
    font-weight: bold;
}
.two_depth {
    position: absolute;
    top: 110px;

    display: none;
}
.two_depth li {
    padding-bottom: 15px;
}

/* 탑메뉴 */
.top_menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    position: relative;
    top: -80px;
}
.center ul {
    display: flex;
    align-items: flex-end;
    gap: 20px;

}
.util_wrap {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
.util_menu > ul {
    display: flex;
    gap: 15px;
}
.util_menu > ul > li > ul {
    display: none;
}

#search_txt {
    width: 150px;
    height: 20px;
    padding: 2px 17px 2px 2px ;
    box-sizing: border-box;
}
.search_btn {
    width: 17px;
    height: 17px;
    background: url(../images/search.png)no-repeat center/17px 17px;
    text-indent: -9999px;
    position: absolute;
    top: 1.5px;
    right: 2px;
}
