main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.health_info {
    width: 219px;
    text-align: end;
    padding-top: 30px;
    border-right: 1px solid #cbcbcb;
}
.health_info h2 {
    font-size: 30px;
    border-bottom: 1px solid #cbcbcb;
    padding: 20px;
}
.health_info ul li {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px 15px 0;
    border-bottom: 1px solid #cbcbcb;
}
.medical_essay {
    background: #3586cf;
    color: #fff;
}
.eulji_magazine:hover, .e_replit:hover {
    text-decoration: underline;
}
.medical_essay_wrap {
    width: 900px;
}
.medical_essay_wrap h2 {
    margin: 20px 0 10px;
}
.medical_essay_wrap p {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-top: 2px solid #004b88;
    border-bottom: 1px solid #cbcbcb;
    border-collapse: collapse;
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
}
tr, td {
    border-bottom: 1px solid #cbcbcb;
}
th {
    padding: 13px;
    background: #f5f5f5;
}
td {
    padding: 11px;
}
tbody tr td:nth-child(2) {
    text-align: start;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* thead tr th:first-child {
    display: flex;
    align-items: center;
} */
/* thead tr th:first-child::after {
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background: #cbcbcb;
    
} */
/* thead tr th:nth-child(2)::after
thead tr th:nth-child(3)::after */

.medical_essay_nums ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 15px;
}
#medical_essay_search {
    background: #eee;
    padding: 10px;
    margin-bottom: 50px;
}
#medical_essay_search fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
}