footer {
    display: none;
}

/* 헤더 */
header {
    position: relative;
    z-index: 3;
    border-top: 1px solid #fff;
    background: rgb(247, 240, 230);
}
header:hover {
    background: #fff;
}
header:hover .nab_bg {
    display: block;
}
header:hover .one_depth {
    display: block;
}
.header_wrap {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.logo {
    margin-top: 30px;
    position: relative;
}
.nab_bg {
    width: 100%;
    height: 230px;
    position: absolute;
    left: 0;
    top: 102px;
    background: #fff;

    display: none;
}

/* GNB */
.gnb {
    max-width: 900px;
    margin: 0 auto;
}
.gnb > ul{
    display: flex;
    justify-content: center;
    gap: 55px;
}
.gnb > ul > li > a {
    font-size: 20px;
    font-weight: 600;
}
.one_depth {
    margin-top: 25px;
    position: absolute;
    top: 70px;

    display: none;
}
.gnb > ul > li > ul > li {
    padding-bottom: 5px;
}

/* 탑메뉴 */
.top_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -22px;
    right: 0;
}
.top_menu ul {
    display: flex;
}
.top_menu ul li:first-child::after {
    content: "|";
    color: #5db1e0;
    margin: 0 5px;
}
.top_menu ul li:nth-child(2)::after {
    content: "|";
    color: #5db1e0;
    margin: 0 5px;
}
#search {
    position: relative;
}
.search_btn {
    width: 17px;
    height: 17px;
    background: url(../images/search.png)no-repeat 0 0/17px 17px;
    text-indent: -9999px;
    position: absolute;
    right: 5px;
    top: 3px;
}
#search_box {
    width: 150px;
    padding: 3px 22px 3px 3px;
}


/* 메인 */
main {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* 메인이미지 */
.main_image {
    margin: 0 auto 70px;
    position: relative;
    background: rgb(247, 240, 230);
    padding: 20px 0;
}
.main_image > ul > li > a {
    height: 500px;
    width: 630px;
}
.main_image img {
    width: 100%;
    height: 100%;
}
.main_image ul li {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.main_image dl {
    margin-top: 70px;
}
.main_image dl dt {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.main_image_txt  {
    margin: 50px 0 20px;
    font-size: 35px;
    font-weight: 700;
    font-family: NotoSansKR;
    line-height: 50px;
    color: #3d3d3d;
}
.reward {
    line-height: 40px;
}
.main_image dd{
    text-align: start;
}
.main_image dd a:after {
    content: "";
    width: 70px;
    height: 1px;
    background: #908f8f;
    display: block;
}
.main_image ul .main_image2, .main_image ul .main_image3, .main_image ul .main_image4 {
    display: none;
}

.numbers {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 90px;
    bottom: 70px;
}
.one {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/circle_c.png)no-repeat center/10px 10px;
    text-indent: -9999px;
}
.two, .three, .four {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/circle.png)no-repeat center/10px 10px;
    text-indent: -9999px;
}

/* 승차권 예매 */
.ticket_reservation {
    margin: 0 auto 70px;
}

/* KTX 할인상품 */
.dc_item {
    margin-bottom: 500px;
}
.dc_item h2 {
    font-size: 25px;
    margin-bottom: 40px;
}
.dc_item img {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 25px;
}
.dc_item li {
    width: 250px;
    height: 400px;
    border: 1px solid #083b82;
    position: relative;
}
.dc_item ul {
    display: flex;
    justify-content: space-between;
}
.dc_item p {
    background: #083b82;
    color: #fff;
    font-size: 30px;
    height: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}