.main {
  position: relative;
  z-index: 1;
  margin-bottom: 200px;
}
/*--*/
.notice {
  max-width: 1200px;
  margin: 100px auto;
}
.notice_title {
  margin-bottom: 50px;
  text-align: center;
}
.notice_title h2 {
  margin-bottom: 10px;
}
.notice_first {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid #00a9ac;
  margin-bottom: 20px;
}
.notice_first li {
  width: 25%;
  padding: 15px 20px;
  text-align: center;
  border: 1px solid #cbcbcb;
}
.notice_first li:first-child {
  border: 1px solid #00a9ac;
  background: #00a9ac;
  color: white;
  font-weight: bold;
}
.eulji_news ul,
.eulji_qna ul,
.eulji_employment ul,
.eulji_bid ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eulji_news ul li,
.eulji_qna ul li,
.eulji_employment ul li,
.eulji_bid ul li {
  width: 330px;
  height: 180px;
  border: 1px solid #cbcbcb;
  padding: 28px;
  margin-bottom: 18px;
}
.eulji_qna,
.eulji_employment,
.eulji_bid {
  display: none;
}
/*--*/
.doctor {
  background: #d4ecf8;
}
.img_doctor {
  max-width: 1200px;
  margin: 0 auto 100px;
  text-align: center;
}
.img_doctor img {
  margin-right: 50px;
}
.img_doctor span {
  font-size: 20px;
  font-weight: bold;
}
/*--*/
.e_ad {
  max-width: 1200px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
}
.e_leaflet {
  border: 1px solid #cbcbcb;
  border-top: 2px solid #00a9ac;
  padding: 20px 30px;
}
.e_leaflet_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.e_leaflet_title h2 {
  font-size: 25px;
}
.e_leaflet_title img {
  width: 30px;
  height: 30px;
}
.e_leaflet_inner ul li {
  margin-bottom: 10px;
}
/*--*/
.map {
  max-width: 1200px;
  margin: 0 auto 100px;
}
.map_title {
  text-align: center;
  margin-bottom: 50px;
}
.map_title h2 {
  margin-bottom: 10px;
}
.map_icon ul {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  text-align: center;
}
.map_icon img {
  width: 70px;
  border: 1px solid #cbcbcb;
  padding: 20px;
  margin-bottom: 10px;
}
.map_icon span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.map_road {
  text-align: center;
}
