footer {
    display: none;
}

/* 헤더 */
header {
    position: relative;
    z-index: 3;
    border-top: 1px solid #fff;
}
.header_wrap {
    max-width: 1400px;
    margin: 0 auto 50px;
    position: relative;
}
.logo {
    margin-top: 30px;
    position: relative;
}
.line {
    border-bottom: 2px solid #5db1e0;
    position: relative;
    top: 120px;
    z-index: 4;
}

/* GNB */
.gnb {
    max-width: 900px;
    margin: 0 auto;
}
.gnb > ul{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.gnb > ul > li > a {
    font-size: 18px;
    font-weight: bold;
}
.gnb > ul > li > ul {
    margin-top: 25px;
}
.gnb > ul > li > ul > li {
    padding-bottom: 5px;

    display: none;
}

/* 탑메뉴 */
.top_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: -22px;
    right: 0;
}
.top_menu ul {
    display: flex;
}
.top_menu ul li:first-child::after {
    content: "|";
    color: #5db1e0;
    margin: 0 5px;
}
.top_menu ul li:nth-child(2)::after {
    content: "|";
    color: #5db1e0;
    margin: 0 5px;
}
#search {
    position: relative;
}
.search_btn {
    width: 17px;
    height: 17px;
    background: url(../images/search.png)no-repeat 0 0/17px 17px;
    text-indent: -9999px;
    position: absolute;
    right: 5px;
    top: 3px;
}
#search_box {
    width: 150px;
    padding: 3px 22px 3px 3px;
}


/* 메인 */
main {
    max-width: 1200px;
    margin: 0 auto;
}

/* 메인이미지 */
.main_image {
    margin: 0 auto 70px
}
.main_image img {
    height: 500px;
    max-width: 630px;
    border-radius: 20px;
}
.main_image ul {
    text-align: end;
}
.main_image ul li {
    position: relative;
}
.main_image dl {
    position: absolute;
    left: 90px;
    top: 110px;
}
.main_image dl dt {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    text-align: center;
}
.main_image_txt  {
    margin: 50px 0 20px;
    font-size: 35px;
    font-weight: 700;
    font-family: NotoSansKR;
    line-height: 50px;
    color: #3d3d3d;
}
.reward {
    line-height: 40px;
}
.main_image dd{
    text-align: start;
}
.main_image dd a:after {
    content: "";
    width: 70px;
    height: 1px;
    background: #908f8f;
    display: block;
}
.main_image2, .main_image3, .main_image4 {
    display: none;
}

/* 승차권 예매 */
.ticket_reservation {
    margin: 0 auto 70px;
}

/* KTX 할인상품 */
