/* 메인 */
main {
    max-width: 1200px;
    margin: 0 auto 200px
}
main h2 {
    text-align: center;
    margin: 120px 0 60px;
    font-size: 35px
}
main form {
    display: flex;
    justify-content: center;
    align-items: center;
}
main input {
    width: 260px;
    border: 1px solid #cbcbcb;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 7px;
}
.u_id {
    margin-bottom: 20px;
    position: relative;
}
#u_id {
    padding-right: 75px;
    box-sizing: border-box;
}
.id_repeat {
    position: absolute;
    right: 7px;
    top: 9px;
    background: #FFB862;
    color: #fff;
    border: none;
    padding:7px;
    cursor: pointer;
    border-radius: 7px;
}
.u_pwd {
    margin-bottom: 20px;
}
.u_repwd {
    margin-bottom: 20px;
}
.u_name {
    margin-bottom: 20px;
}
#tel {
    margin-bottom: 5px;
}
.tel span {
    color: gray;
    font-size: 11px;
    padding-left: 8px;
    display: block;
    margin-bottom: 13px;
}
.email {
    margin-bottom: 70px;
}
.join_btn {
    background: #FFB862;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
}
.prev_btn {
    background: #FFB862;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 17px;
}
.join_btn_wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
}