.login_main {
  position: relative;
  z-index: 1;
}
.login_wrap {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
.login_title,
.login_inner {
  margin-bottom: 30px;
}
.login_form form {
  margin-bottom: 10px;
}
.login_form form fieldset {
  display: flex;
  flex-direction: column;
}
.login_form button {
  margin-bottom: 20px;
}
