/* 메인 */
main {
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

/* 메인이미지 */
.main_image img {
    width: 650px;
}
.main_image_wrap {
    background: #fff5e0;
}
.main_image {
    max-width: 1200px;
    position: relative;
    margin: 0 auto 80px;
    padding: 15px;
}
.main_image > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_image > ul > li > div {
    width: 400px;
    text-align: center;
}
.main_image ul div p {
    font-weight: bold;
    line-height: 1.3em;
}

/* 메인이미지 1 */
.main_image1_p_wrap {
    margin-right: 50px;
}
.main_image1_p1 {
    font-size: 20px;
}
.main_image1_p2 {
    font-size: 35px;
    color: gold;
}
.main_image1_p3 {
    font-size: 35px;
    color: gold;
}

/* 메인이미지 2 */
.main_image2_p1 {
    font-size: 20px;
}
.main_image2_p2 {
    font-size: 35px;
    color: #cca181;
}
.main_image2_p3 {
    font-size: 35px;
    color: gold;
}

/* 메인이미지 3 */
.main_image3_p1 {
    font-size: 20px;
}
.main_image3_p2 {
    font-size: 35px;
    color: #16f1d4;
    margin-bottom: 20px;
}
.main_image3_p3 {
    font-size: 20px;
}
.main_image3_p4 {
    font-size: 35px;
    color: #d7b16d;
}

/* 메인이미지 4 */
.main_image4_p1 {
    font-size: 35px;
    color: #21326d;

}
.main_image4_p2 {
    font-size: 25px;
    color: gray;
}

/* 메인이미지 5 */
.main_image5_p1 {
    font-size: 20px;
    color: #2d7587;
}
.main_image5_p2 {
    font-size: 20px;
    color: gray;
}
.main_image5_p3 {
    font-size: 35px;
    color: #27535f;
}

/* 메인이미지 6 */
.main_image6_p1 {
    font-size: 35px;
    color: #d7a422;
}
.main_image6_p2 {
    font-size: 35px;
    color: #d7a422;
}

.main_image .main_image2, .main_image .main_image3, .main_image .main_image4, .main_image .main_image5, .main_image .main_image6 {
    display: none;
}

/* 슬라이드 */
.numbers li:first-child {
    width: 15px;
    height: 15px;
    background: url(../images/circle_c.png)no-repeat center/15px 15px;
    text-indent: -9999px;
}
.numbers li {
    width: 15px;
    height: 15px;
    background: url(../images/circle.png)no-repeat center/15px 15px;
    text-indent: -9999px;
}

.numbers ul {
    display: flex;
    gap: 5px;
    position: absolute;
    left: 175px;
    bottom: 40px;
}


/* 바로가기 메뉴 */
.shortcut_menu {
    display: flex;
    max-width: 1200px;
    margin: 0 auto 80px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.shortcut_menu > div {
    width: 370px;
    height: 370px;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}
/* .shortcut_menu img {
    width: 50px;
} */
.shortcut_menu span {
    width: 18px;
    height: 2px;
    display: block;
    background: #004b88;
    text-align: center;
}

.new_reservation {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #004b88;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#p_name {
    width: 200px;
    height: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    display: block;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto 5px;
}
#p_tel {
    width: 200px;
    height: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    display: block;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto 5px;
}
#p_symptom {
    width: 200px;
    height: 30px;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
    display: block;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto 5px;
}
.agree_wrap label {
    font-size: 14px;
}
.agree_wrap p {
    font-size: 13px;
}
.shortcut_menu form {
    width: 270px;
}
.new_reservation_btn {
    color: #3686cf;
    border: 1px solid #3686cf;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    bottom: 30px;
}



.online_reservation {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #004b88;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.online_reservation_btn {
    color: #3686cf;
    border: 1px solid #3686cf;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
}


.medical_department {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #004b88;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.medical_depart_btn_wrap {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
}
.medical_depart_btn_wrap a {
    color: #3686cf;
    border: 1px solid #3686cf;
    padding: 5px 20px;
    border-radius: 5px;
}


.find_doctor {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #05a8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.find_doctor_btn {
    color: #3686cf;
    border: 1px solid #3686cf;
    padding: 5px 20px;
    border-radius: 5px;
    position: absolute;
    bottom: 30px;
}


.certificate {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #05a8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.certificate_btn_wrap {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 30px;
}
.certificate_btn_wrap a {
    color: #3686cf;
    border: 1px solid #3686cf;
    padding: 5px 20px;
    border-radius: 5px;
}


.call_center {
    border: 1px solid #cbcbcb;
    border-top: 3px solid #05a8ab;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.shortcut_menu a:hover {
    color: #fff;
    background: #3686cf;
}


/* 전문 센터 */
.medical_center_bg {
    background: #004b88;
    padding: 40px 0 70px;
    margin-bottom: 80px;
}

.medical_center {
    max-width: 1200px;
    margin: 0 auto;
}
.medical_center h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 25px;
}
.medical_center > p {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
}
.medical_center ul {
    display: flex;
    justify-content: space-between;
}
.medical_center img {
    width: 100px;
    margin-bottom: 10px;
}
.medical_center ul li {
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medical_center ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.medical_center ul p {
    color: #fff;
    font-size: 18px;
    margin: 10px 0;
}
.special_center, .cooperation_center {
    background: #05a8ab;
}
.health_center, .stroke_center {
    background: #3686cf;
}

















/*--*/
.notice {
    max-width: 1200px;
    margin: 100px auto;
  }
  .notice_title {
    margin-bottom: 50px;
    text-align: center;
  }
  .notice_title h2 {
    margin-bottom: 10px;
  }
  .notice_first {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .notice_first::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1px;
    background-color: #12b8ba;
  }
  .notice_first li {
    width: 25%;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #cbcbcb;
    border-left: none;
  }
  .notice_first li:first-child {
    border: 1px solid #00a9ac;
    background: #00a9ac;
    color: white;
    font-weight: bold;
  }
  .eulji_news ul,
  .eulji_qna ul,
  .eulji_employment ul,
  .eulji_bid ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .eulji_news ul li,
  .eulji_qna ul li,
  .eulji_employment ul li,
  .eulji_bid ul li {
    width: 350px;
    height: 150px;
    border: 1px solid #cbcbcb;
    padding: 17px;
  }
  .eulji_qna,
  .eulji_employment,
  .eulji_bid {
    display: none;
  }
  /*-*/
  .eulji_news ul li:hover {
    border: 2px solid #00a9ac;
    padding: 16px;
  }
  .eulji_news ul li a {
    display: flex;
    flex-direction: column;
  }
  .eulji_news ul li a span {
    display: block;
  }
  .eulji_news ul li a .date {
    font-size: 15px;
    color: #00a9ac;
    padding-bottom: 20px;
  }
  .eulji_news ul li a .title {
    font-size: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  .eulji_news ul li a .txt {
    height: 42px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: clip;
    line-height: 20px;
  }
  /*--*/
  .doctor {
    background: #d4ecf8;
    padding-top: 30px;
    position: relative;
  }
  .arrow button {
    position: absolute;
  }
  .big_left {
    top: 100px;
    left: 150px;
  }
  .big_left img {
    width: 100px;
  }
  .big_right {
    top: 100px;
    right: 150px;
  }
  .big_right img {
    width: 100px;
  }
  .doctor_img_name {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  .doctor_img_name img {
    margin-right: 60px;
  }
  .doctor_img_name span {
    font-size: 20px;
    font-weight: bold;
  }
  .doctor_inner {
    display: flex;
    flex-direction: column;
  }
  .doctor_inner_title {
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0 30px;
  }
  .doctor_inner_txt {
    margin-bottom: 5px;
  }
  .doctor_inner_name {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .doctor_inner button {
    margin-top: 60px;
    text-align: end;
    padding: 10px;
  }
  .doctor_inner button:hover {
    font-weight: bold;
  }
  /*--*/
  .e_ad_bg {
    background: #eee;
    padding: 50px 0;
    margin-bottom: 80px;
  }
  .e_ad {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .e_ad_title {
    text-align: center;
    padding-bottom: 50px;
  }
  .e_ad_title h2 {
    margin-bottom: 10px;
  }
  .e_ad_inner {
    display: flex;
    justify-content: space-between;
  }
  .e_leaflet {
    position: relative;
    border: 1px solid #cbcbcb;
    border-top: 2px solid #00a9ac;
    padding: 20px 30px;
    background: #fff;
    height: 250px;
    width: 500px;
  }
  .e_leaflet_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .e_leaflet_title h2 {
    font-size: 25px;
  }
  .e_leaflet_title img {
    width: 30px;
    height: 30px;
  }
  .e_leaflet_inner ul li div {
    display: flex;
    justify-content: center;
  }
  .e_leaflet_inner ul li a img {
    width: 130px;
    margin-right: 20px;
  }
  .e_leaflet_inner_txt {
    display: flex;
    flex-direction: column;
  }
  .e_leaflet_inner_txt strong {
    margin-bottom: 10px;
  }
  .e_leaflet_inner_txt span {
    display: block;
    height: 180px;
    width: 300px;
    overflow: hidden;
    line-height: 20px;
  }
  .e_arrow button {
    position: absolute;
  }
  .s_left img {
    width: 30px;
  }
  .s_left {
    top: 140px;
    left: 0;
  }
  .s_right img {
    width: 30px;
  }
  .s_right {
    top: 140px;
    right: 0;
  }
  /*--*/
  .ad img {
    width: 550px;
    height: 290px;
  }
  
  /*--*/
  .map {
    max-width: 1200px;
    margin: 0 auto 100px;
  }
  .map_title {
    text-align: center;
    margin-bottom: 50px;
  }
  .map_title h2 {
    margin-bottom: 10px;
  }
  .map_icon ul {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    text-align: center;
  }
  .icon_img {
    border: 2px solid #004b88;
    border-radius: 50%;
  }
  .map_icon ul img {
    width: 70px;
    padding: 20px;
  }
  .map_icon span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  .map_road {
    text-align: center;
  }
  .map_road img {
    width: 100%;
  }
  