/* GNB */
.logo img {
    width: 270px;
}
.gnb_logo_wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.gnb > ul {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.gnb_line {
    border-bottom: 1px solid #05a8ab;
    position: relative;
    z-index: 20;
    top: 50px;
    display: none;
}
.gnb_logo_wrap:hover .gnb_line {
    display: block;
}
.gnb > ul > li > a {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: block;
}
.gnb > ul > li > ul > li {
    padding-bottom: 10px;
}
.depth {
    position: absolute;
    top: 220px;
    z-index: 5;
    display: none;
}
.nav_bg {
    background: #fff;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 210px;
    z-index: 4;
    display: none;
}
.gnb_logo_wrap:hover .depth{
    display: block;
}
.gnb_logo_wrap:hover .nav_bg {
    display: block;
}