body, header, main ,footer, div, ul, li, dl, dt, dd, nav, h1, h2, h3, p, form, fieldset, address {
    margin: 0;
    padding: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    background: none;
}
body {
    line-height: 1.5em;
    font-family: NotoSansKR, '돋움', Dotum, '굴림체', Gulim, Aria, Helvetica, AppleGothic, Sans-serif;
    font-size: 13px;
}
button {
    cursor: pointer;
    background: none;
    border: none;
}
.hide {
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    margin: -1px;
    text-indent: -9999px;
    border: none !important;
}
address {
    font-style: normal;
}
fieldset, img {
    border: none;
}
input {
    border: 1px solid #000;
}


/* skip menu */
.skip_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}
.skip_menu a {
    background: #333;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    top: -50px;
}
.skip_menu a:focus, .skip_menu a:hover {
    top:0           
}