/* 메인 */
main {
    max-width: 1200px;
    margin: 100px auto 100px;
}
main h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 60px;
}
.apply_cont_wrap {
    width: 1000px;
    margin: 0 auto;
    padding: 60px 0 40px ;
    box-sizing: border-box;
    border: 1px solid #cbcbcb;
}
.apply_cont_wrap label {
    font-weight: bold;
}
.apply_all_wrap {
    display: flex;
    justify-content: space-between;
    margin:0 auto 50px;
    width: 800px;
}
.apply_all {
    width: 800px;
}
.apply1, .apply2, .apply3, .apply4 {
    font-size: 14px;
}
textarea {
    background: #fff;
    color: gray;
    width: 600px;
    height: 70px;
    resize: none;
    font-size: 13px;
    outline: none;
    padding: 3px;
    box-sizing: border-box;
}
.apply_wrap {
    width: 300px;
    margin: 0 auto 30px;
}
.apply_cont {
    display: flex;
    justify-content: space-between;
}
#apply4 {
    margin-bottom: 45px;
}
.btn_wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px
}
.btn1 {
    border: 1px solid #cbcbcb;
    background: #fff;
    display: block;
    width: 120px;
    height: 40px;
    border-radius: 20px;
}
.btn2 {
    border: 1px solid #e1e1e1;
    background: #e1e1e1;
    display: block;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
}
.btn_active {
    border: 1px solid #05a8ab;
    background: #05a8ab;
    display: block;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 20px;
}




